*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background:transparent
}

/* HTML5 display-role reset for older browsers */

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{
    display: block
}

//handling box-sizing on a intehertied level

html{
    box-sizing: border-box
}

*,*::before,*::after{
    box-sizing: inherit
}

//This helps with img scaling and you might have an issue if you don't make the embed. If you comment out height auto.

img,object,embed{
    max-width: 100%;
    height: auto;
}

html{
    overflow-y: scroll;
}

ul{
    list-style: none;
}

blockquote, p{
    quotes: none;
    &::after,::before{
        content: '';
        content: none;
    }
}

del{
    text-decoration: line-through;
}

abbr[title],dfn[title]{
    border-bottom: 1px dooted #222;
    cursor: help;
}

//table settings
table{
    border-collapse: collapse;
    border-spacing: 0;
}

th{
    font-weight: bold;
    vertical-align: bottom;//center is also common
}

td{
    font-weight: normal;
    vertical-align: top;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select{
    vertical-align: middle;
}

pre{
    white-space: pre;//css2
    white-space: pre-wrap;//css.1
    white-space: pre-line;//css3
    white-space: break-word;//ie
}

input[type="radio"]{
vertical-align: text-bottom;
}
input[type="checkbox"]{
    vertical-align: bottom;
}
.ie7 input[type="checkbox"]{
    vertical-align: baseline;
}
.ie6 input{
    vertical-align: text-bottom;
}

select,
input,
textarea{
    font-size: 99%;
}
small{
    font-size: 85%;
}
strong{
    font-weight: bold;
}

//super and sub text
sub,
sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup{
    top: -0.5em;
}

sub{
    bottom: -0.25em;
}

.clickable,
    label,
    input[type="button"],
    input[type="submit"],
    input[type="file"],
button{
    cursor: pointer;
}

//fix bottom for IE7 ***Legacy browsers
button,
input[type="button"]{
    width: auto;
    overflow: hidden;
}

//fix scalbale imgs for IE7 ***Legacy browsers
.ie7 img{
    -ms-interpolation-mode: bicubic;
}

//fixing container collapse
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}