@use './defaultTheme' as *;

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgb(187, 185, 234);
$dark-shadow: 0 5px 15px rgb(196, 148, 176);
$max-width: 100%;
$fixed-width: 50%;

$background-color: rgb(209, 205, 205);
$primary-color: #0c0c0c;
$secondary-color: #007bff;
$box-shadow: rgb(108, 146, 236) inset;
$text-shadow: 0 5px 0 2px rgb(159, 112, 112); 
