/* my dark shades of primary color*/
$clr-primary-0: hsl(253, 78%, 26%);
$clr-primary-1: hsl(253, 74%, 29%);
$clr-primary-2: hsl(253, 71%, 37%);
$clr-primary-3: hsl(253, 67%, 45%);
$clr-primary-4: hsl(253, 60%, 52%);

/* my The primary/main color */
$clr-primary-5: hsl(277, 43%, 51%);
$clr-primary-6: hsl(277, 60%, 67%);
$clr-primary-7: hsl(277, 60%, 74%);
$clr-primary-8: hsl(277, 60%, 81%);
$clr-primary-9: hsl(277, 60%, 88%);

/* my lighter shades of primary color */
$clr-lprimary-5: hsl(269, 61%, 90%);
$clr-lprimary-6: hsl(269, 45%, 67%);
$clr-lprimary-7: hsl(269, 60%, 74%);
$clr-lprimary-8: hsl(269, 60%, 81%);
$clr-lprimary-9: hsl(269, 60%, 88%);

/* dark shades of secondary color*/
$clr-secondary-0: hsl(27, 23%, 15%);
$clr-secondary-1: hsl(27, 25%, 29%);
$clr-secondary-2: hsl(27, 29%, 37%);
$clr-secondary-3: hsl(27, 32%, 45%);
$clr-secondary-4: hsl(27, 36%, 52%);

/* secondary color */
$clr-secondary-5: hsl(29, 24%, 59%);
$clr-secondary-6: hsl(29, 31%, 67%);
$clr-secondary-7: hsl(29, 35%, 74%);
$clr-secondary-8: hsl(29, 39%, 81%);
$clr-secondary-9: hsl(29, 41%, 88%);

/* lighter shades of secondary color */
$clr-lsecondary-5: hsl(29, 63%, 87%);
$clr-lsecondary-6: hsl(29, 67%, 83%);
$clr-lsecondary-7: hsl(29, 65%, 79%);
$clr-lsecondary-8: hsl(29, 61%, 76%);
$clr-lsecondary-9: hsl(29, 57%, 73%);

/* darkest grey - used for headings */
$clr-grey-0: hsl(220, 4%, 15%);
$clr-grey-1: hsl(220, 9%, 23%);
$clr-grey-2: hsl(220, 11%, 30%);
$clr-grey-3: hsl(220, 13%, 39%);
$clr-grey-4: hsl(220, 17%, 49%);

/* grey used for paragraphs */
$clr-grey-5: hsl(210, 1%, 32%);
$clr-grey-6: hsl(210, 5%, 70%);
$clr-grey-7: hsl(210, 20%, 80%);
$clr-grey-8: hsl(210, 30%, 89%);
$clr-grey-9: hsl(210, 30%, 96%);

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);

